{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% include 'menu.html' %}

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-8">
      <div>
        <h1 class="si-clientes__title mt-2">
          {% if request.title == 'novo'%}
            Adicionar
          {% elif request.title == 'atualizar' %}
            Atualizar 
          {% endif %}
          Cliente
        </h1>
        <hr class="mt-0 mb-4">
      </div>
      <div class="col-sm-12">
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-info">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}