body {
  background-color: #FAF3DD;
}


/* Menu */
.si-navbar {
  background-color: #FFA69E;
}
.si-navbar__brand {
  color: #5E6472;
  font-weight: 400;
  letter-spacing: 4px;
  border: 1px solid #5E6472;
}

.si-navbar__brand:hover {
  background: #5E6472;
  color: white !important;
}

/* Tela Clientes */

.si-clientes__title {
  color: #5E6472;
}

/* Tela Localização */

.si-localizacao__map {
  height: 50vh;
  width: 100vw;
}
